[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
*.apk
*.aab
*.unitypackage
*.csproj
*.sln
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
.vs/
.idea/
.DS_Store
